<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-light" >
   
  <div class="container-fluid" id="navbarText">
    <ul class="nav navbar-nav">
        <li class="nav-item ">
            <a class="nav-link " routerLink="/Project">AddProject <span class="sr-only">(current)</span></a>
         </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/AddTask">AddTask </a>
          </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/User">AddUser </a>
           </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/ViewTask">ViewTask</a>
          </li>
          
      </ul>
  </div>
</nav>
