
<div class="container">
    <div class="row">
      <div class="col-9">
              <label  style="padding-left:3rem;padding-top:1rem;padding-bottom: 1rem;">Project Manager</label>
         
      </div>
                         
    </div>
     <div class="row">
         <div class="col-9">
                 <app-menu></app-menu>
         </div>
 
     </div>
     <div class="row">
        <div class="col-9">
            <router-outlet></router-outlet>
           
        </div>
                           
      </div>
     
 
 
 
 </div>
 



