
<form  [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="form-group row" style="padding-left:3rem;" *ngIf="isSuccess">
      <div class="col-lg-7 " >
          <div class="alert alert-success" >
                    {{successMsg}}
           </div>
           
        </div>
  </div>
  <div class="form-group row" style="padding-left:3rem;" *ngIf="isError">
      <div class="col-lg-7" >
          <div class="alert alert-danger" >
                    {{errorMsg}}
           </div>
           
        </div>
  </div>
<div class="form-group row" style="padding-left:3rem;padding-top:1rem">
  <label  class="control-label col-lg-1" style="text-align: left">Project:</label>
   <div class="col-lg-6">
   <input type="text" class="form-control" id="projName"  maxlength="100" formControlName="projectName" >
      <div *ngIf="(f.projectName.touched && f.projectName.errors)">
        <div class="alert alert-danger" 
          *ngIf="f.projectName.errors.required">
            Project name is required
         </div>
         <div class="alert alert-danger" 
           *ngIf="f.firstName.errors.maxlength">
            Project name should be max {{ nameField.errors.maxlength.requiredLength }} characters long
         </div>
      </div>
   </div>
 </div>
 <div class="form-group row" style="padding-left:3rem;">
  <div class="col-lg-1" ></div>
    <div class="col-lg-4 ">
      <input type="checkbox" class="control-checkbox " name="setdate" id="setdate" formControlName="SetDate" 
      (change)="SetStartEndDate($event)">
     
       <label  class="label-xsmall " style="text-align: left; margin: 4px">Set start date & end date</label>
    </div>
  </div>
  <div class="form-group row" style="padding-left:3rem;">
    <div class="col-lg-1" ></div>
     <div class="col-lg-3 ">
       <input type="date" class="form-control" name="sdate" id="sdate"  placeholder="Start date" formControlName="StartDate">
     </div>
     <div class="col-lg-3">
      <input type="date" class="form-control" name="edate" id="edate" formControlName="EndDate">
        
     </div>
     
  </div>
  <div class="form-group row" style="padding-left:3rem;">
    <div class="col-lg-2" ></div>
    <div class="alert alert-danger" *ngIf="f.EndDate.errors">End date must be greater than Start date</div>
  </div>
  
   <div class="form-group row" style="padding-left:3rem;">
      <label  class="control-label col-lg-1" style="text-align: left">Priority:</label>
       <div class="col-lg-6">
        <input type="range" min="0" max="30" class="custom-range" id="inputPriority" 
         name="inputPriority"    oninput="ageOutputId.value = inputPriority.value" formControlName="Priority">
        
        <output name="ageOutputName" id="ageOutputId">0</output>
       </div>
    </div>
    <div class="form-group row" style="padding-left:3rem;">
      <label  class="control-label col-lg-1" style="text-align: left">Manager:</label>
       <div class="col-lg-5">
        <input type="text" class="form-control" id="mName"  maxlength="100" formControlName="Manager" >
       </div>
       <div class="col-lg-1">
        <button type="button" class="btn btn-sm btn-circle" (click)="OpenModal()">Search</button>
        
       </div>
    </div>
    
    <div class="form-group row" style="padding-left:3rem;" >
       <div class="col-lg-3" ></div>
        <div class="col-lg-1" *ngIf="!isEdit">
            <button type="submit"  class="btn btn-light btncustom " [disabled]="!projectForm.valid">Add</button>
        </div>
        
        <div class="col-lg-1" *ngIf="isEdit">
            <button type="submit"  class="btn btn-light btncustom " [disabled]="!projectForm.valid">Update</button>
        </div>
        <div class="col-lg-1" ></div>
        <div class="col-lg-1 ">
            <button type="button" class="btn btn-light btncustom" (click)="ResetForm()">Reset</button>
        </div>
    </div>
</form>
<hr style="border-style: inset">
<div class="form-group row" style="padding-left:3rem;padding-top:1rem">
  <div class="col-lg-9">
    <input type="text" class="form-control" id="inputName"  placeholder="Search" [(ngModel)]="searchParam">
  </div>
</div>
<div class="form-group row" style="padding-left:3rem;">
  <label  class="control-label " style="text-align: right;padding-top:5px;padding-left:30px">Sort:</label>
   <div class="col-lg-2">
     <button type="button"  class="btn btn-light " (click)="SetSortParam('StartDate')">StartDate</button>
   </div>
   <div class="col-lg-2">
     <button type="button"  class="btn btn-light " (click)="SetSortParam('EndDate')">EndDate</button>
   </div>
   <div class="col-lg-2">
     <button type="button"  class="btn btn-light" (click)="SetSortParam('Priority')">Priority</button>
   </div>
 </div>
 <ul class="list-group-flush">
  <li class="list-group-item" *ngFor="let project of projects | filter:'Project':searchParam | sort:path:order">
    
      <div class="form-group row" >
        <div class="col-lg-7 ">
          <div class="form-group row">
              <label  class="control-label  col-lg-3" style="text-align: left">Project:</label>
              <label  class="control-label  col-lg-9"  style="text-align: left">{{project.ProjectName}}</label>
           </div>
           <div class="form-group row">
              <label  class="control-label  col-lg-4" style="text-align: left">No Of Task:</label>
              <label  class="control-label  col-lg-2" style="text-align: left" >{{project.NoOfTask}}</label>
              <label  class="control-label  col-lg-4" style="text-align: left">Completed:</label>
              <label  class="control-label  col-lg-2" style="text-align: left" >{{project.NoOfTaskCompleted}}</label>
           </div>
           <div class="form-group row">
              <label  class="control-label  col-lg-2" style="text-align: left">StartDate:</label>
              <label  class="control-label  col-lg-4" style="text-align: left" >{{project.StartDate}}</label>
              <label  class="control-label  col-lg-2" style="text-align: left">EndDate:</label>
              <label  class="control-label  col-lg-4" style="text-align: left" >{{project.EndDate}}</label>
           </div>
        </div>
     
      
        <div class="col-lg-1">
            <label  class="control-label" style="text-align: left">Priority</label>
            <label  class="control-label" style="text-align: left" >{{project.Priority}}</label>
        </div>
        <div class="col-lg-1 ">
            <button type="button"  class="btn btn-light btncustom" (click)="OnEdit(project)">Edit</button>
             <br>
            <br>
            <button type="button"  class="btn btn-light btncustom" (click)="OnSusPend(project)">Suspend</button>
        </div>
    </div>
   
  </li>
</ul>