<div class="form-group row" style="padding-left:3rem;padding-top:.5rem">
 
  <label  class="control-label col-lg-1" style="text-align: left">Project:</label>
   <div class="col-lg-4">
    <input type="text" class="form-control" id="pName"  maxlength="100" [disabled]="true" [value]="ProjectName" >
   </div>
   <div class="col-lg-1">
    <button type="button" class="btn btn-sm btn-circle"   id="projSearch"(click)="OpenProjectModal()">Search</button>
   </div>
   <label  class="control-label" style="text-align: left;padding: 3px;vertical-align:middle">Sort Task By:</label>
   <div class="col-lg-1">
    <button type="button"  class="btn btn-small " (click)="SetSortParam('StartDate')">StartDate</button>
   </div>
   <div class="col-lg-1">
    <button type="button"  class="btn btn-small " (click)="SetSortParam('EndDate')">EndDate</button>
  </div>
  <div class="col-lg-1">
    <button type="button"  class="btn btn-small " (click)="SetSortParam('Priority')">Priroty</button>
  </div>
  <div class="col-lg-1">
    <button type="button"  class="btn btn-small " (click)="SetSortParam('Status')">Completed</button>
  </div>
</div>

<div class="form-group row" style="padding:3rem;">
 
       
     <table mat-table [dataSource]="dataSource" class="table">
           <ng-container matColumnDef="TaskId">
                 <th mat-header-cell *matHeaderCellDef> TaskId </th>
                 <td mat-cell *matCellDef="let row"> {{row.TaskId}} </td>
               </ng-container>
               <ng-container matColumnDef="ProjectId">
                <th mat-header-cell *matHeaderCellDef> ProjectId </th>
                <td mat-cell *matCellDef="let row"> {{row.ProjectId}} </td>
              </ng-container>
              <div class="col-4">
               <ng-container matColumnDef="TaskName">
                <th mat-header-cell *matHeaderCellDef> Task </th>
                <td mat-cell *matCellDef="let row"> {{row.TaskName}} </td>
              </ng-container>
            </div>
              <!-- Weight Column -->
              <ng-container matColumnDef="ParentTaskName">
                <th mat-header-cell *matHeaderCellDef> Parent </th>
                <td mat-cell *matCellDef="let row"> {{row.ParentTaskname}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="Priority">
                <th mat-header-cell *matHeaderCellDef> Priority </th>
                <td mat-cell *matCellDef="let row"> {{row.Priority}} </td>
              </ng-container>
              <ng-container matColumnDef="StartDate">
                   <th mat-header-cell *matHeaderCellDef> StartDate </th>
                   <td mat-cell *matCellDef="let row"> {{row.StartDate }} </td>
                 </ng-container>
               
                
                 <ng-container matColumnDef="EndDate">
                   <th mat-header-cell *matHeaderCellDef> EndDate </th>
                   <td mat-cell *matCellDef="let row"> {{row.EndDate }} </td>
                 </ng-container>  
                 <ng-container matColumnDef="customColumn1">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let row"> 
                      <button class="btn btn-light btn-sm" (click)="EndTask(row)" [disabled]="DisableButton(row)"
                      >
                        EndTask</button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="customColumn2">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let row"> 
                      <button class="btn btn-light btn-sm" (click)="EditTask(row)"[disabled]="DisableButton(row)">EditTask</button>
                  </td>
                </ng-container> 
                  
               <tr scope="col" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     
     </table>
  
</div>
